body{
    font-size:18px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#results{
    padding-top:20px;
}
#results .glyphicon {
    position: absolute;
    font-size: 30px;
    padding-left: 21px;
    padding-top: 3px;
}
.tab-content{
    padding-top:30px;
}
.column-info{
    border: 1px solid #18bc9c;
    border-radius: 5px;
    padding: 0px 10px;
}
