{% extends "base.html" %}

{% block content %}

	<section id="portfolio" style="margin-top:42px">
			<div class="container">
				<div class="row" >
						<div class="col-lg-12 text-center" style="margin:20px 0">
							<h3>WTFcsv tells you what the f*&% is going on with your CSV file</h3>
							<h5>Upload a CSV file, link to one on the web or paste in comma-separated values.</h5>
							<hr class="star-primary">
						</div>
					</div>
					
					<ul class="nav nav-tabs nav-justified">
					  <li role="presentation"><a id="tab-paste" href="#paste" data-toggle="tab"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>Paste CSV text</a></li>
					  <li role="presentation"><a id="tab-upload-file" href="#upload-file" data-toggle="tab"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload CSV</a></li>
					  <li role="presentation"><a id="tab-link-file" href="#link-file" data-toggle="tab"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>Link to CSV</a></li>
					</ul>
					<div class="tab-content">
					  <div id="paste" class="tab-pane fade in active">
					  		<form action="from-text" method="POST">
						    <div class="form-group#results">
									<textarea class="form-control" rows="8" id="csvText" name="csvText">
{{_("name, shirt_color, siblings\nRahul, blue, 1\nCatherine, red, 2")}}
									</textarea>
							</div>
							<div>
								<button type="submit" class="btn btn-success btn-lg pull-right" style="margin-top:20px">{{_("Submit")}}</button>
							</div>
							</form>
					  </div>
					  <div id="upload-file" class="tab-pane fade">
					  	<form action="from-file#results" enctype="multipart/form-data" method="POST">
					    <span class="btn btn-default btn btn-file">
									{{_("Choose .CSV File")}}<input type="file" id="csvFile" name="csvFile">
								</span>
					    	<div>
								<button type="submit" class="btn btn-success btn-lg pull-right" style="margin-top:20px">{{_("Submit")}}</button>
							</div>
						</form>
					  </div>
					  <div id="link-file" class="tab-pane fade">
					    <form action="from-url#results" method="POST">
					    	<div class="form-group">
							    
							    <input type="text" class="form-control" id="csvURL" name="csvURL" placeholder="Paste the URL to the CSV file">
							  </div>
					    	<div>
								<button type="submit" class="btn btn-success btn-lg pull-right" style="margin-top:20px">{{_("Submit")}}</button>
							</div>
						</form>
					  </div>
					</div>
					
					<!--
					error 
					csvinfo
					<div class="row">
						<div class="col-lg-12 text-center">
							[ <a href="#" onclick="$('#advancedOptions').slideToggle();return false;">advanced options</a> ]
							<div id="advancedOptions" style="display:none">
								<div class="checkbox">
									<label>
										<input type="checkbox" checked name="headerRow"> First row is header row
										<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Check this if your CSV has a header row with column names. Uncheck this if there is no header row."></span>
									</label>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 text-center">
							<div>
								<button type="submit" class="btn btn-success btn-lg" style="margin-top:20px">Submit</button>
							</div>
						</div>
					</div>-->
					</form>
			</div>
	</section>

	{% if error %}
		<section id="results" class="results-error">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>{{_("Results")}}</h2>
						<hr class="star-primary">
					</div>
				</div>
				<div class="row">
					<div class="alert alert-danger" role="alert">{{ _(error) }}</div>
				</div>
			</div>
		</section>
	{% endif %}

	{% if csv_info %}

		<section id="results">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>{{_("Results")}}</h2>
						<hr class="star-primary">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p> 
						{{ngettext("You have %(num)s row of data.", "You have %(num)s rows of data.", csv_info['row_count'])}}
						{{_("Here's a bit of info about each one:")}}
						</p>
					</div>
				</div>
				<div class="row">
					{% for col in csv_info['columns'] %}
						<div class="col-md-4">
							<div class="column-info">
								<h3>{{col['name']}}</h3>
								<ul>
									{% if 'index' in col %}
										<li>{{_("This is column number %d" % col['index'])}}</li>
									{% endif %}
									{% if 'type' in col %}
										<li>{{_("This is column is full of")}} {{_(col['type'])}}</li>
									{% endif %}
									{% if 'values' in col %}
										<li>{{_("This unique values in this column are:")}}
										<ul>
											{% for val in col['values'] %}<li><em>{{val}}</em></li>{% endfor %}
										</ul>
										</li>
									{% endif %}
									{% if 'min' in col %}
										<li>{{_("The smallest number is") }} <em>{{col['min']}}</em></li>
									{% endif %}
									{% if 'max' in col %}
										<li>{{_("The biggest number is") }} <em>{{col['max']}}</em></li>
									{% endif %}
									{% if 'sum' in col %}
										<li>{{_("The total is") }} <em>{{col['sum']}}</em></li>
									{% endif %}
									{% if 'mean' in col %}
										<li>{{_("The average is") }} <em>{{col['mean']}}</em></li>
									{% endif %}
									{% if 'median' in col %}
										<li>{{_("The median is") }} <em>{{col['median']}}</em></li>
									{% endif %}
									{% if 'stdev' in col %}
										<li>{{_("The standard deviation is") }} <em>{{col['stdev']}}</em></li>
									{% endif %}
									{% if 'nulls' in col %}
										<!-- <li>{{col['nulls']}}</li> -->
									{% endif %}
									{% if 'freq' in col %}
										<li>{{col['freq']}}</li>
									{% endif %}
									{% if 'len' in col %}
										<li>{{_("The longest string is <em>%d</em> characters" % col['len']) }}</li>
									{% endif %}
								</ul>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- {{ csv_info }} -->

	{% endif %}

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
$(function(){
	$('#tab-{{tab}}').tab('show');
});
//Javascript
</script>
{% endblock %}